<table class="table table-striped">
<thead>
  <tr>
    <th style="visibility: hidden;">Id</th>
    <th align="center">Name</th>
    <th align="center">Address</th>
    <th align="center">Location</th>
    <th align="center">Edit</th>
    <th align="center">Delete</th>
  </tr>
</thead>
 <tbody>
  <tr *ngFor="let smestaj of smestaji">
    <td></td>
    <td>{{smestaj.naziv}}</td>
    <td>{{smestaj.adresa}}</td>
    <td>{{smestaj.mesto}}</td>
    <td><button class="btn btn-danger" (click)="editSmestaj(smestaj)" >Edit</button></td>
    <td><button class="btn btn-danger" (click)="deleteSmestaj(smestaj)" >Delete</button></td>
  </tr>
  </tbody>
  </table>
  
  