<form [formGroup]="form">
  <div class="form-group col-sm-10">
    <label class="form-control-label" for="ime"> First name </label>
    <input type="text" class="form-control" name="ime" id="ime" formControlName="ime" placeholder="firstname" [class.is-invalid]="!form.controls.ime.valid">
  </div>
  <div class="form-group col-sm-10">
    <label class="form-control-label" for="prezime"> Last name </label>
    <input type="text" class="form-control" name="prezime" id="prezime" formControlName="prezime" placeholder="lastname" [class.is-invalid]="!form.controls.prezime.valid">
  </div>
  <div class="form-group col-sm-10">
    <label class="form-control-label" for="adresa">Adress </label>
    <input type="text" class="form-control" name="adress" id="adresa" formControlName="adresa" placeholder="adress" [class.is-invalid]="!form.controls.adresa.valid">
  </div>
  <div class="form-group col-sm-10">
    <label class="form-control-label" for="maticniBroj">Bussnes number</label>
    <input type="text" class="form-control" name="maticniBroj" id="maticniBroj" formControlName="maticniBroj" placeholder="bussnesNum"
      [class.is-invalid]="!form.controls.maticniBroj.valid">
  </div>
  <div class="form-group col-sm-10">
    <label class="form-control-label" for="email"> email </label>
    <input type="email" class="form-control" name="email" id="email" formControlName="email" placeholder="email" [class.is-invalid]="!form.controls.email.valid">
  </div>
  <div class="form-group col-sm-10">
    <label class="form-control-label" for="password"> password </label>
    <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="password"
      [class.is-invalid]="!form.controls.password.valid">
  </div>
  <button [disabled]="!form.valid" (click)="submit($event)">Submit</button>
</form>