<button (click)="getUserReservation()">Aktivne</button>
<button >Završene</button>
<button (click)="createRcensia()">Recenzija</button>

<div *ngIf="retVal.length===0">
    Prazno
</div>

<div *ngFor="let rezervacija of retVal">
    <p>Naziv smestaja i mesto:{{smestajID}}</p>
    <p>Datum rezervacije: {{rezervacija.od}} -> {{rezervacija.do}}</p>
    <p>Soba - broj i kapacitet: {{rezervacija.idSobe}}</p>
    <a href="">Više informacija</a><br>
    <button>KONTAKTIRAJ</button>
    <button>OTKAŽI</button>
</div>