<button (click)="getUserReservation()">Aktivne</button>
<button >Završene</button>

<div *ngIf="retVal.length===0">
    Prazno
</div>

<div *ngFor="let rezervacija of retVal; let i = index">
    <p>Naziv smestaja i mesto: {{smestaji[i].naziv}} - {{smestaji[i].mesto}}</p>
    <p>Datum rezervacije: {{rezervacija.od}} - {{rezervacija.do}}</p>
    <p>Soba #{{rezervacija.idSobe}}</p>
    <p>Kapacitet: {{sobe[i].kapacitet}}</p>
    <a href="">Više informacija</a><br>
    <span class="dugmici">
        <button>KONTAKTIRAJ</button>
        <button>OTKAŽI</button>
    </span>
    <hr>
    
</div>