<table class="table table-striped">
  <thead>
  <tr>
    <th style="visibility: hidden;">Id</th>
    <th align="center">Date</th>
    <th align="center">Content</th>
    <th align="center">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recenzija of recenzije">
    <td></td>
    <td>{{recenzija.komentar.datum}}</td>
    <td>
    	<p>
    		{{recenzija.komentar.sadrzaj}} 
    	</p>
    </td>
    <td><button class="btn btn-danger" (click)="allowComment(recenzija)">Allow</button></td>
  </tr>
  </tbody>
</table>