<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">

  <a class="navbar-brand" href="homeSearch">Booking.com</a>

  <a class="navbar-brand" href="rezervacije">Rezervacije</a>

  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="register">Register</a>
    </li>
  </ul>
</nav> 

<br>


<br>

 <!-- Page Content -->
 <div class="container"> 

  <form>

    <div class="row"> <!-- start row -->

      <div class="col">
        <div class="form-group">
          <label for="place">Place:</label>
          <input type="text" [(ngModel)]="place" name="mesto" class="form-control" placeholder="Place" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="numberOfPersons">Number of persons:</label>
          <select class="custom-select" [(ngModel)]="numberOfPersons" name="persons" required>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
          </select>
        </div>
      </div>
      <div class="col">
          <div class="form-group">
            <label for="fromDate">From:</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                      name="datePicker"  [(ngModel)]="dateFrom" [minDate]="minDateFrom" (ngModelChange)="chooseDateFrom()" ngbDatepicker #df="ngbDatepicker" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="df.toggle()" type="button">
                  <img src="../../../assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
          <div class="form-group">
            <label for="toDate">To:</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                      name="datePicker" [(ngModel)]="dateTo" [minDate]="minDateTo" ngbDatepicker #dt="ngbDatepicker" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dt.toggle()" type="button">
                  <img src="../../../assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <br>
        <button type="submit" class="btn btn-primary" (click)="submitSearch()">Search</button>
      </div>

    </div>  <!-- end row -->

    
    <div id="accordion">

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#advancedSearch"  (click)="clickAdvancedSearch()">
            Advanced search
          </a>
        </div>
        <div id="advancedSearch" class="collapse" data-parent="#accordion">
          <div class="card-body">

            <div class="row"> <!-- start row -->
              <div class="col">
                <div class="form-group">
                  <label for="place">Type of accommodation:</label>
                  <select class="custom-select" [(ngModel)]="type" name="tip" required>
                    <option value="0">hotel</option>
                    <option value="1">bed&breakfast</option>
                    <option value="2">apartman</option>
                  </select>
                </div>
              </div>

              <div class="col">
                  <div class="form-group">
                    <label for="place">Category:</label>
                    <select class="custom-select" [(ngModel)]="category" name="kategorija" required>
                      <option value="0">uncategorized</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
              </div>

            </div> <!-- end row -->

            <br>

            <div class="row"> <!-- start row -->
              <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="parking" name="park"> Parking
                    </label>
                  </div>
              </div>
              <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="wifi" name="wf"> Wifi
                    </label>
                  </div>
              </div>
              <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="breakfast" name="dorucak"> Breakfast
                    </label>
                  </div>
              </div>
              <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="half_board" name="polupansion"> Half-board
                    </label>
                  </div>
              </div>
              <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="board" name="pansion"> Board
                    </label>
                  </div>
              </div>
              <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="TV" name="tv"> TV
                    </label>
                  </div>
              </div>
              <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="kitchen" name="kuhinja"> Kitchen
                    </label>
                  </div>
              </div>
              <div class="col">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="bathroom" name="kupatilo"> Private bathroom
                    </label>
                  </div>
              </div>

            </div> <!-- end row -->

          </div>
        </div>
      </div>
    </div>
      
  </form>

  <br>

  <main class="app-content">
    <!-- <div class="app-title" >
      <div>
        <h1><i class="fa fa-dashboard"></i> Accommodations</h1>
        <p>You can see the list of your accommodations below.</p>
      </div>
      
    </div> -->
    
    <div class="row">
      <div class="col-md-6">
        <div class="tile">
          <div class="row">
  
            <div class="col-md-10">
                <h3 class="tile-title"><span class="badge badge-success">APARTMAN</span> &nbsp; Vila Moskva</h3>
            </div>
  
            <div class="col-md-2">
  
                <div class="app-title" class="col-md-1">
  
                  <p> Category: </p>
  
                </div>
  
                <div class="col-md-1">
  
                    <ngb-rating max="5">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
  
                </div>
                
            </div>
          </div>
          
          <div id="demo" class="carousel slide" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/images/moskva2.jpg" alt="Los Angeles" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3>Eksterijer</h3>
                    <p>Predivna vila, s pogledom na nebo.</p>
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/images/moskva_unutra.jpg" alt="Chicago" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3>Enterijer</h3>
                    <p>Zaista svecano, predivni stonjaci.</p>
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/images/moskva_pod2.jpg" alt="New York" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3>Ulaz</h3>
                    <p>Podovi cisti, divan dizajn.</p>
                  </div>   
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
          </div>
  
          <div class="row-md-2">
  
              <h2>Additional services:</h2>
  
              <div class="row-md-50">
                  <span class="badge badge-success">WIFI</span>
                  <span class="badge badge-success">Parking</span>
                  <span class="badge badge-success">TV</span>
              </div>
              
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="tile">
          <div class="row">
  
            <div class="col-md-10">
                <h3 class="tile-title"><span class="badge badge-success">HOTEL</span> &nbsp; Hotel Park</h3>
            </div>
  
            <div class="col-md-2">
  
                <div class="app-title" class="col-md-1">
  
                  <p> Category: </p>
  
                </div>
  
                <div class="col-md-1">
  
                    <ngb-rating max="5">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
  
                </div>
                
            </div>
          </div>
          
          <div id="demo1" class="carousel slide" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                <li data-target="#demo1" data-slide-to="1"></li>
                <li data-target="#demo1" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/images/hotelPark2.jpg" alt="Los Angeles" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3>Eksterijer</h3>
                    <p>Hotel se nalazi pored Futoskog parka.</p>
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/images/hotelParkEnterijer.jpg" alt="Chicago" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3>Enterijer</h3>
                    <p>Svecani lobi je svakako zastitni znak hotela.</p>
                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/images/hotelParkSoba.jpg" alt="New York" width="1100" height="500">
                  <div class="carousel-caption">
                    <h3>Soba</h3>
                    <p>Sobe su dvokrevetne, kreveti udobni.</p>
                  </div>   
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo1" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
          </div>
  
          <div class="row-md-2">
  
              <h2>Additional services:</h2>
  
              <div class="row-md-50">
                  
                  <span class="badge badge-success">Parking</span>
                  <span class="badge badge-success">TV</span>
                  <span class="badge badge-success">Polupansion</span>
              </div>
              
          </div>
        </div>
      </div>
      
        
    </div>
    
    <br>
    
  </main>

</div>
<!-- /.container -->


